FLASK_SECRET_KEY=change-me
PORT=5069
PROTAC_PUBLIC_BASE_URL=https://protacbuilder.com
PROTAC_LOCAL_BASE_URL=http://127.0.0.1:5069
PROTAC_ALLOWED_ORIGINS=https://protacbuilder.com,http://127.0.0.1:5069
DEEPPK_MAX_WAIT_SECONDS=300
DEEPPK_CHECK_INTERVAL_SECONDS=5
TARGET_BUILDER_JOBS_DIR=
PROTAC_CONVERTED_SESSION_BASE=
