<div
  id="deeppk-loader"
  class="pv-loading protac-deeppk-loader d-none"
  data-loader-root
  aria-live="polite"
>
  <div class="pv-loading-row">
    <div class="pv-spinner" aria-hidden="true"></div>

    <div class="pv-loading-text">
      <div id="deeppk-loader-title" class="pv-loading-title" data-loader-title>
        Running DeepPK molecular parameter workflow…
      </div>
      <div id="deeppk-loader-message" class="pv-loading-message" data-loader-message></div>
      <div id="deeppk-loader-subtle" class="pv-loading-subtle" data-loader-subtle>
        DeepPK can take a moment if the external prediction server is busy. Your RDKit descriptor
        table is already available below.
      </div>
    </div>
  </div>
</div>
